<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voter.name %>
</p>

<p>
  <strong>Voter type:</strong>
  <%= @voter.voter_type %>
</p>

<p>
  <strong>Voter:</strong>
  <%= @voter.voter_id %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
